* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(images/tempbackground.jpg);
    background-size: cover;
}

ol, ul {
    list-style-type: none;
}

header {
    width: 100%;
    z-index: 5000;
    display: block;
}

.header-main-container {
    display: block;
}

.header-actual-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    height: 52px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-width: 1000px; /* ? */
}

.header-logo-container {
    width: 100px;
    height: 100%;
    display: block;
    margin: 0;
    position: relative; 
    z-index: 10; /* ? */
    font-size: 40px;
    line-height: 48px;
    /* top: -1px; */
}

.header-logo {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer; /* ? */
    color: white;
    font-family: Calibri;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 5px;
    /* text-indent: -999em; */
}

.header-checkbox {
    display: none;
}

[for=header-trigger] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    order: 2;
    z-index: 1550; /* ? */
    cursor: pointer; /* ? */
}

.header-trigger-icon {
    display: block;
    width: 18px;
    height: 18px;
    position: relative;
    opacity: 1; /* ? */
    transition: opacity 0.3s ease-in-out; /* ? */
}

.header-trigger-cross-hatch {
    color: white;
    /* width: 100%;
    height: 100%;
    left: 0;
    top: calc(36% + 2px);
    transition: right .3s ease-in-out;
    display: block;
    position: absolute;
    text-indent: 2000px;  */
}

.mobile-extra-header-nav-list {
    display: none;
}

.header-nav {
    width: calc(100% - 40px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
}

.header-nav-primary {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header-nav-list {
    margin: 0;
    padding: 0;
    display: block;
}

.header-nav-primary .header-nav-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.header-nav-primary .header-nav-list-item {
    font-size: 14px;
    line-height: 20px;
}


.header-nav-list-item {
    list-style: none;
}

.header-nav-list-link {
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    font-family: Calibri;
    cursor: pointer;
    line-height: 1.25;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border: 0;
    padding: 0;
    /* transition: margin .15s ease-in-out; */
}

.header-hide-on-desk {
    display: none;
}

.header-nav-list-last-item {
    height: 100%;
    display: flex;
    position: absolute;
    right: 30px;
    top: 0;
}

.header-nav-list .header-nav-list {
    margin-left: 20px;
    padding: 10px 0 10px 10px;
}

.link-for-logout {
    display: none;
}

.link-for-login {
    opacity: 1;
    z-index: 1;
    position: relative;
    transition: opacity .15s linear, color .15s ease-in-out; /* ? */
}

.header-nav-secondary {
    min-width: 200px;
    height: calc(100% + 20px);
    position: fixed;
    top: -20px;
    right: -150%;
    overflow-y: scroll;
    z-index: 30;
    padding: 52px 20px 20px;
    background-color: white;
    border-left: 1px solid #f7f7f7;
    transition: right .3s ease-in-out;
}

.header-nav-secondary .header-nav-list-link {
    color:black;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    margin: 0;
    padding: 20px 10px;
}

[for=header-nav-secondary-show] {
    display: none;
}

.header-more-span {
    display: inline-block;
    transform: rotate(0); /* ? */
    transition: transform 0.3s ease-in-out; /* ? */
}

.header-nav-meta-info {
    display: none;
}

[id=header-mask] {
    width: 0;
    height: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20;
    transition: opacity .3s ease-in-out;
    background-color: rgba(0, 0, 0, .25);
    opacity: 0;
    overflow: hidden;
}

@media (min-width: 640px) and (max-width: 1200px) {
    .header-nav-primary .header-nav-list {
        width: 100%;
        margin-left: 130px;
        justify-content: flex-start;
    }
}

@media (max-width: 639px) {
    
}