@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic',
        sans-serif;
    color: rgb(255, 255, 255);
}

/* section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* .first-section {
    background-image: linear-gradient(rgba(78, 78, 78, 0.329), rgba(255, 255, 255, 0)), url(images/car.jpg);
}

.second-section {
    background-image: linear-gradient(rgba(78, 78, 78, 0.329), rgba(255, 255, 255, 0)), url(images/cuba.jpg);
    background-position: 25%;
} */

body {
    position: relative;
    margin: 0;
    overflow: hidden;
    display: flex;
    height: 100vh;
    flex-direction: column;
    line-height: 1.5;
    font-size: 62.5%;
    background-color: #aaaaaa;
}

h2,
p {
    text-align: center;

}

h2 {
    font-size: 3rem;
}

.buttons {
    margin: 5% auto;

}

button {
    padding: 15px 45px;
    margin: 0 20px;
    border-radius: 20px;
    background: rgba(54, 54, 54, 0.233);
    border: white solid 2px;
    min-width: 200px;
    font-weight: 700;
    font-size: 1rem;
}

button:first-child {
    background: white;
    color: black;
}

.smooth {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    /* scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(1vh);
    scroll-snap-type: y mandatory; */
}

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    min-height: 60px;
    font-size: 1rem;
    background-image: linear-gradient(180deg, #1d1e22, rgba(29, 30, 34, 0.1), transparent);
    mix-blend-mode: luminosity;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: start;


}

.header ul li {
    margin: 0 1em;
    padding: 1em;
}

.header ul li a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #f4f4ff;
}

.header ul li a::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 3px;
    transition: all 0.1s linear;
}

.header ul li a:hover:after {
    width: 100%;
    background-color: #f4f4f4;
}

section {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: #f4f4f4;
    background-image: url(images/car.jpg);
    background-size: cover;
    scroll-snap-align: center;
    background-position: center;
}

/* section h2 {
    text-transform: uppercase;
    background-color: #f4f4f4;
    mix-blend-mode: screen;
    pointer-events: none;
    user-select: none;
} */

#fullpage {
    overflow: hidden;
}
section:nth-child(3) {
    background-image: url(images/cuba.jpg);
}

.swiper-container {
    width: 100%;
    height: 100%;
    background: #000;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}

.swiper-slide .subtitle {
    font-size: 21px;
}

.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}